<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="COM_QATDATABASE_CONFIGURATION_TABS_GENERAL"
		description="COM_QATDATABASE_CONFIGURATION_TABS_GENERAL_DESC">
		
		<field
			name="adminname"
			type="text"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_ADMIN_NAME"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_ADMIN_NAME"
			default="admin"
		/>
		
		<field
			name="adminemail"
			type="text"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_ADMIN_EMAIL"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_ADMIN_EMAIL_DESC"
		/>
		
		<field
			name="show_share_icons"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_DISPLAY_SHARE_ICONS"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_DISPLAY_SHARE_ICONS_DESC"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>
		
		<field
			name="show_favorites_icon"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_DISPLAY_SHARE_FAVOURITE_ICON"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_DISPLAY_SHARE_FAVOURITE_ICON"
			default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>
		
		<field
			name="auto_publish"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_AUTO_PUBLISH"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_AUTO_PUBLISH_DESC"
			default="0">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>
		
		<field
			name="cats_number"
			type="number"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_CATEGORIES_NUMBER"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_CATEGORIES_NUMBER_DESC"
			default="1"
		/>
		
		<field
			name="items_per_user"
			type="number"
			label="COM_QATDATABASE_CONFIGURATION_GENERAL_MAX_ITEMS_PER_USER"
			description="COM_QATDATABASE_CONFIGURATION_GENERAL_MAX_ITEMS_PER_USER_DESC"
			default="-1"
		/>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_qatdatabase"
			section="component"/>
	</fieldset>
</config>
